@import "../../MainStyles";
@import "../../breakpoints/breakpoints.scss";

.userAlert__main{
    width: 100vw;
    height: 55px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
    @include centerContent;
}
.message{
    display: flex;
    gap: 10px;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #000;
    color: #fff;
    @include centerContent;
    span{
        color: #fff;
    }
}
.message__SVG{
    width: 15px;
    height: 15px;
    object-fit: contain;
}
.success__message{
    background-color: #86E093;
}
.error-SVG{
    height: 100%;
    @include centerContent;
    font-size: 1.2rem;
    background-color: chocolate;
}
.error__message {
    background-color: #FF3C3C;
}