@import "../../MainStyles";
@import "../../breakpoints/breakpoints.scss";

.favorites__main {
  width: 100vw;
  display: flex;
  padding-top: 100px;
  flex-direction: column;
  overflow: hidden;
}
.favorites-button{
  width: max-content;
  font-size: 16px;
  padding: 10px 1.5em;
  background-color: $mainColor;
  border-radius: 30px;
  cursor: pointer;
  @include media('>smallLT') {
    font-size: 18px;
    padding: 15px 2em;

  }
}
//No User Favorites Screen
.empty__favorites {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  gap: 50px;
  .favorites__title {
    font-family: fontMed;
    width: fit-content;
    font-size: 1rem;
    @include media(">=smallLT") {
      font-size: 1.2rem;
    }
  }
  .favorites__signIn {
    margin-top: 50px;
    @include centerContent;
  }
  .noFavorites {
    font-size: 1.5rem;
    margin-bottom: 40px;
  }
  @include media(">=smallLT") {
    .favorites__title {
      font-size: 1.4rem;
    }
  }
}
//User logged in Favorites screen
.favorites__items__holder {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  row-gap: 50px;
  column-gap: 1rem;
  padding-bottom: 20px;
  @include media(">=tablet") {
    min-width: 300px;
  }
  @include media(">=smallLT") {
    justify-content: space-between;
  }
  @include media(">=laptop") {
    column-gap: 40px;
    justify-content: flex-start;
    grid-template-columns: repeat(auto-fit, minmax(150px, 410px));
  }
}
