@import "../../MainStyles";
@import "../../breakpoints/breakpoints.scss";

.favorite__main {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 200px;
  height: fit-content;
  @include media(">=laptop") {
    max-width: 410px;
  }
}
.favorite__image__container {
  width: 100%;
  height: 150px;
  background-color: #ecebe9;
  cursor: pointer;
  @include centerContent;
  .favorite__image {
    width: 110px;
    height: 110px;
    pointer-events: none;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .favorite__imageLg {
    pointer-events: none;
    width: 100px;
    height: 100px;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  @include media(">=tablet") {
    height: 300px;
    .favorite__image {
      width: 150px;
      height: 150px;
    }
    .favorite__imageLg {
      width: 200px;
      height: 200px;
    }
  }
  @include media(">=smallLT") {
    height: 430px;
    .favorite__image__container {
      height: 200px;
    }
    .favorite__image {
      width: 200px;
      height: 200px;
    }
    .favorite__imageLg {
      width: 300px;
      height: 300px;
    }
  }
}

//Item info section
.favorite__item__info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  // background-color: crimson;
  @include media(">=smallLT") {
    height: 120px;
  }
}
.left__item__info {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  :nth-child(1) {
    font-family: fontMed;
    font-size: 14px;
    @include media(">=tablet") {
      font-size: 1rem;
    }
    @include media(">=smallLT") {
      font-size: 1.2rem;
    }
  }
  :nth-child(2) {
    color: #939393;
    font-size: 14px;
    @include media(">=tablet") {
      font-size: 1rem;
    }
  }
  .cart-button {
    position: absolute;
    bottom: 0;
    width: fit-content;
    padding: 1vw;
    border: solid thin #000;
    background-color: transparent;
    border-radius: 30px;
    font-size: 14px;
    cursor: pointer;
    display: none;
    @include media(">=tablet") {
      @include centerContent;
      font-size: 16.2px;
    }
    @include media(">=smallLT") {
      font-size: 16.2px;
    }
    @include media(">=LGdesktop") {
      padding-top: 12px;
      padding-bottom: 12px;
    }
  }
}
.right__item__info {
  padding-top: 10px;
  position: relative;
  .item-price {
    font-size: 14px;
    @include media(">=tablet") {
      font-size: 1rem;
    }
  }
  .delete-item {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #000;
    @include centerContent;
    position: absolute;
    bottom: 0;
    cursor: pointer;
    right: 0;
    .delete-item__SVG {
      width: 15px;
      height: 15px;
    }
    @include media(">=tablet") {
      width: 30px;
      height: 30px;
    }
    @include media(">=smallLT") {
      width: 40px;
      height: 40px;
      .delete-item__SVG {
        width: 20px;
        height: 20px;
      }
    }
  }
  @include media(">=smallLT") {
    span {
      font-size: 1.2rem;
    }
  }
}
