/**
*
* Testing
*
**/
.favorite__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 200px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

@media (min-width: 1366px) {
  .favorite__main {
    max-width: 410px;
  }
}

.favorite__image__container {
  width: 100%;
  height: 150px;
  background-color: #ecebe9;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.favorite__image__container .favorite__image {
  width: 110px;
  height: 110px;
  pointer-events: none;
}

.favorite__image__container .favorite__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.favorite__image__container .favorite__imageLg {
  pointer-events: none;
  width: 100px;
  height: 100px;
}

.favorite__image__container .favorite__imageLg img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media (min-width: 768px) {
  .favorite__image__container {
    height: 300px;
  }
  .favorite__image__container .favorite__image {
    width: 150px;
    height: 150px;
  }
  .favorite__image__container .favorite__imageLg {
    width: 200px;
    height: 200px;
  }
}

@media (min-width: 1024px) {
  .favorite__image__container {
    height: 430px;
  }
  .favorite__image__container .favorite__image__container {
    height: 200px;
  }
  .favorite__image__container .favorite__image {
    width: 200px;
    height: 200px;
  }
  .favorite__image__container .favorite__imageLg {
    width: 300px;
    height: 300px;
  }
}

.favorite__item__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 100px;
}

@media (min-width: 1024px) {
  .favorite__item__info {
    height: 120px;
  }
}

.left__item__info {
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.left__item__info :nth-child(1) {
  font-family: fontMed;
  font-size: 14px;
}

@media (min-width: 768px) {
  .left__item__info :nth-child(1) {
    font-size: 1rem;
  }
}

@media (min-width: 1024px) {
  .left__item__info :nth-child(1) {
    font-size: 1.2rem;
  }
}

.left__item__info :nth-child(2) {
  color: #939393;
  font-size: 14px;
}

@media (min-width: 768px) {
  .left__item__info :nth-child(2) {
    font-size: 1rem;
  }
}

.left__item__info .cart-button {
  position: absolute;
  bottom: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1vw;
  border: solid thin #000;
  background-color: transparent;
  border-radius: 30px;
  font-size: 14px;
  cursor: pointer;
  display: none;
}

@media (min-width: 768px) {
  .left__item__info .cart-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 16.2px;
  }
}

@media (min-width: 1024px) {
  .left__item__info .cart-button {
    font-size: 16.2px;
  }
}

@media (min-width: 1920px) {
  .left__item__info .cart-button {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

.right__item__info {
  padding-top: 10px;
  position: relative;
}

.right__item__info .item-price {
  font-size: 14px;
}

@media (min-width: 768px) {
  .right__item__info .item-price {
    font-size: 1rem;
  }
}

.right__item__info .delete-item {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 0;
  cursor: pointer;
  right: 0;
}

.right__item__info .delete-item .delete-item__SVG {
  width: 15px;
  height: 15px;
}

@media (min-width: 768px) {
  .right__item__info .delete-item {
    width: 30px;
    height: 30px;
  }
}

@media (min-width: 1024px) {
  .right__item__info .delete-item {
    width: 40px;
    height: 40px;
  }
  .right__item__info .delete-item .delete-item__SVG {
    width: 20px;
    height: 20px;
  }
}

@media (min-width: 1024px) {
  .right__item__info span {
    font-size: 1.2rem;
  }
}
/*# sourceMappingURL=favorite.module.css.map */