/**
*
* Testing
*
**/
.product__main {
  width: 100%;
  height: 300px;
}

@media (min-width: 768px) {
  .product__main {
    height: 350px;
  }
}

@media (min-width: 1024px) {
  .product__main {
    width: 310px;
    height: 500px;
  }
}

.product__background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 200px;
  position: relative;
  cursor: pointer;
}

.product__background .product__cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ecebe9;
  z-index: 1;
}

@media (min-width: 768px) {
  .product__background {
    height: 250px;
  }
}

@media (min-width: 1024px) {
  .product__background {
    height: 400px;
  }
}

.product__BTNS {
  position: absolute;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 1.3s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 1.3s cubic-bezier(0.19, 1, 0.22, 1);
  will-change: transform;
}

@media (min-width: 1024px) {
  .product__BTNS {
    width: 35px;
    height: 35px;
  }
  .product__BTNS:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    background-color: #ecebe9;
  }
}

.favorite__BTN {
  right: 10px;
  top: 10px;
}

.cart__BTN {
  bottom: 10px;
  right: 10px;
}

.productBTN__SVG {
  width: 18px;
  height: 18px;
  position: relative;
}

.productBTN__SVG .heart_label {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.productBTN__SVG input[type="checkbox"] {
  display: none;
}

@media (min-width: 1024px) {
  .productBTN__SVG {
    width: 20px;
    height: 20px;
  }
}

.product__imageLrg {
  width: 120px;
  height: 120px;
  z-index: 2;
  pointer-events: none;
}

.product__imageLrg img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media (min-width: 1024px) {
  .product__imageLrg {
    width: 170px;
    height: 170px;
  }
}

@media (min-width: 1024px) {
  .product__imageLrg {
    width: 300px;
    height: 300px;
  }
}

.product__image {
  width: 110px;
  height: 110px;
  z-index: 2;
  pointer-events: none;
}

.product__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media (min-width: 1024px) {
  .product__image {
    width: 130px;
    height: 130px;
  }
}

@media (min-width: 1024px) {
  .product__image {
    width: 200px;
    height: 200px;
  }
}

.product__info {
  height: 100px;
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 5px;
}

.product__info span {
  margin-bottom: 5px;
}

.product__info .product__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product__info .product__left .product__title {
  text-transform: capitalize;
  font-size: 14.23px;
  font-family: fontMed;
}

.product__info .product__left .product__type {
  font-size: 13px;
  color: #939393;
}

@media (min-width: 768px) {
  .product__info .product__left .product__type {
    font-size: 1rem;
  }
}

.product__info .product__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product__info .product__right .new__product {
  color: #faba83;
  font-size: 1rem;
}

.product__info .product__right .product__price {
  font-size: 1rem;
}

@media (min-width: 768px) {
  .product__info .product__right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media (min-width: 768px) {
  .product__info {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 1024px) {
  .product__info .product__title {
    font-size: 1.1rem !important;
  }
  .product__info .new__product {
    font-size: 1.1rem !important;
  }
  .product__info .product__price {
    font-size: 1.2rem !important;
  }
}
/*# sourceMappingURL=product.module.css.map */