@import "../../MainStyles";
@import "../../breakpoints/breakpoints.scss";

.quickCart__main{
    position: fixed;
    bottom: 0;
    height: 80px;
    width: 100vw;
    z-index: 100;
    display: flex;
    background-color: #fff;
    border-top: solid thin #ECEBE9;
    justify-content: space-between;
    @include smoothTransition(transform);
}
.cart__title{
    font-size: 1rem;
    text-transform: capitalize;
    font-family: fontMed;
    white-space: nowrap;
    @include media ('>=tablet'){
        font-size: 1.1rem;
    }
    @include media ('>=smallLT'){
        font-size: 1.3rem;
    }
}
.left__quickCart, .right__quickCart{
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
}

.left__quickCart{
    gap: 1.1rem;
    .cart__items{
        display: flex;
        gap: 1.1rem;
        flex-wrap: wrap;
        max-width: 500px;
        height: 60px;
        overflow-y: scroll;
        align-items: center;
        padding-top: 5px;
    }
}
.right__quickCart{
    justify-content: flex-end;
    gap: 1.5rem;
    .subtotal{
        display: flex;
        flex-direction: column;
    }
    button{
        width: 90px;
        height: 45px;
        background-color: $mainColor;
        border: none;
        border-radius: 30px;
        cursor: pointer;
        @include media ('>=smallLT'){
            width: 100px;
            height: 50px;
            font-size: 16px;
        }
    }
}
.close__cart{
    transform: translateY(100%);
}
.open__cart{
    transform: translateY(0);
}