//CSS imports
@import "../../MainStyles";
@import "../../breakpoints/breakpoints.scss";

.login__main {
  @include centerContent;
  width: 100vw;
  height: 100vh;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
}

.login__backBTN {
  position: absolute;
  display: none;
  left: 100px;
  top: 150px;
  height: 60px;
  width: 100px;
  cursor: pointer;
  .SVG__holder {
    height: 100%;
    width: 20px;
    margin-right: 10px;
    object-fit: contain;
  }
  @include media(">=smallLT") {
    display: block;
    @include centerContent;
  }
}

//Form container----------------------------------------
.form__contentContainer {
  width: 100%;
  max-width: 400px;
  height: fit-content;
  @include media(">=tablet") {
    width: 350px;
    height: 500px;
  }
  @include media(">=smallLT") {
    width: 400px;
    height: 500px;
  }
}

.form__title__holder {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5vw;
  .login-title{
    font-family: fontBold;
  }
  .signUp__title {
    text-align: center;
    font-family: fontMed;
    font-size: 1.2rem;
  }
  p {
    text-align: center;
    max-width: 500px;
    color: #7d7d7d;
    font-size: 14px;
    line-height: 1.5em;
    margin-top: 10px;
  }
  @include media('>=laptop') {
    margin-bottom: 3vw;
  }
}

.form__info__container {
  input {
    width: 100%;
    height: 40px;
    padding: 10px 10px 10px 35px;
    border-radius: 30px;
    border: solid 1px #707070;
    outline: none;
    margin-bottom: 20px;
  }
  button {
    margin-top: 25px;
    width: 100%;
    height: 45px;
    background-color: $mainColor;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  @include media(">=tablet") {
    input {
      height: 47px;
    }
    button {
      height: 50px;
    }
  }
}
.forgot__password__holder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .forgotPassword__link {
    color: #7d7d7d;
    cursor: pointer;
    font-size: 13.5px;
  }
}
.logIn__links__holder {
  width: 100%;
  height: 50px;
  margin-top: 40px;
  gap: 10px;
  @include centerContent;
  .login__link {
    width: 150px;
    height: 100%;
    border-radius: 30px;
    @include centerContent;
    background-color: #3b5998;
    color: #fff;
    cursor: pointer;
    .linkSVG {
      width: 20px;
      height: 20px;
      margin-right: 10px;
    }
    span {
      font-size: 14px;
    }
  }
  .gmail__link {
    background-color: #fff;
    border: solid 1px #f1584d;
    span {
      color: #000;
    }
  }
}
.signUp__holder {
  margin-top: 15px;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
  b {
    font-family: fontBold;
  }
}
//Sign Up Form Styles
.input__ {
  span {
    color: $invalid;
    padding: 5px;
    font-size: 13px;
  }
}
.signUp__formInputs {
  margin-top: 20px;
  input {
    width: 100%;
    height: 47px;
    padding: 10px 10px 10px 35px;
    border: solid 1px #707070;
    border-radius: 30px;
    margin-bottom: 10px;
  }
}
.signUp__checkBox__holder {
  height: 20px;
  font-size: 13px;
  display: flex;
  align-items: center;
  margin-top: 10px;
  input {
    position: relative;
    width: 15px;
    height: 15px;
    top: 50%;
    cursor: pointer;
    @include media(">=smallLT") {
      margin-right: 5px;
    }
  }
}
.currentMember__container {
  margin-top: 15px;
  width: auto;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
  b {
    font-family: fontBold;
  }
}
