/**
*
* Testing
*
**/
.login__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
  height: 100vh;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
}

.login__backBTN {
  position: absolute;
  display: none;
  left: 100px;
  top: 150px;
  height: 60px;
  width: 100px;
  cursor: pointer;
}

.login__backBTN .SVG__holder {
  height: 100%;
  width: 20px;
  margin-right: 10px;
  -o-object-fit: contain;
     object-fit: contain;
}

@media (min-width: 1024px) {
  .login__backBTN {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.form__contentContainer {
  width: 100%;
  max-width: 400px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

@media (min-width: 768px) {
  .form__contentContainer {
    width: 350px;
    height: 500px;
  }
}

@media (min-width: 1024px) {
  .form__contentContainer {
    width: 400px;
    height: 500px;
  }
}

.form__title__holder {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5vw;
}

.form__title__holder .login-title {
  font-family: fontBold;
}

.form__title__holder .signUp__title {
  text-align: center;
  font-family: fontMed;
  font-size: 1.2rem;
}

.form__title__holder p {
  text-align: center;
  max-width: 500px;
  color: #7d7d7d;
  font-size: 14px;
  line-height: 1.5em;
  margin-top: 10px;
}

@media (min-width: 1366px) {
  .form__title__holder {
    margin-bottom: 3vw;
  }
}

.form__info__container input {
  width: 100%;
  height: 40px;
  padding: 10px 10px 10px 35px;
  border-radius: 30px;
  border: solid 1px #707070;
  outline: none;
  margin-bottom: 20px;
}

.form__info__container button {
  margin-top: 25px;
  width: 100%;
  height: 45px;
  background-color: #faba83;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

@media (min-width: 768px) {
  .form__info__container input {
    height: 47px;
  }
  .form__info__container button {
    height: 50px;
  }
}

.forgot__password__holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.forgot__password__holder .forgotPassword__link {
  color: #7d7d7d;
  cursor: pointer;
  font-size: 13.5px;
}

.logIn__links__holder {
  width: 100%;
  height: 50px;
  margin-top: 40px;
  gap: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logIn__links__holder .login__link {
  width: 150px;
  height: 100%;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #3b5998;
  color: #fff;
  cursor: pointer;
}

.logIn__links__holder .login__link .linkSVG {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.logIn__links__holder .login__link span {
  font-size: 14px;
}

.logIn__links__holder .gmail__link {
  background-color: #fff;
  border: solid 1px #f1584d;
}

.logIn__links__holder .gmail__link span {
  color: #000;
}

.signUp__holder {
  margin-top: 15px;
  cursor: pointer;
}

.signUp__holder:hover {
  text-decoration: underline;
}

.signUp__holder b {
  font-family: fontBold;
}

.input__ span {
  color: #FF3636;
  padding: 5px;
  font-size: 13px;
}

.signUp__formInputs {
  margin-top: 20px;
}

.signUp__formInputs input {
  width: 100%;
  height: 47px;
  padding: 10px 10px 10px 35px;
  border: solid 1px #707070;
  border-radius: 30px;
  margin-bottom: 10px;
}

.signUp__checkBox__holder {
  height: 20px;
  font-size: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}

.signUp__checkBox__holder input {
  position: relative;
  width: 15px;
  height: 15px;
  top: 50%;
  cursor: pointer;
}

@media (min-width: 1024px) {
  .signUp__checkBox__holder input {
    margin-right: 5px;
  }
}

.currentMember__container {
  margin-top: 15px;
  width: auto;
  cursor: pointer;
}

.currentMember__container:hover {
  text-decoration: underline;
}

.currentMember__container b {
  font-family: fontBold;
}
/*# sourceMappingURL=UserLogin.module.css.map */