//CSS Imports
@import "../MainStyles";
@import "../breakpoints/breakpoints.scss";

.TitleAni__main {
  background-color: crimson;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  width: max-content;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  span {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: aqua;
    @include centerContent;
    @include smoothTransition(transform);
  }
  :nth-child(2){
    position: absolute;
  }
  @include media(">=smallLT") {
    &:hover {
      :nth-child(1) {
        transform: translateY(-100%);
      }
      :nth-child(2) {
        transform: translateY(0);
      }
    }
  }
}
